:root {
  /* CARD COLORS */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* NEUTRAL COLORS*/
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  --fweightlight: 200;
  --fweightregular: 400;
  --fweightbold: 600;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: var(--grey500);
}


header, main {
  padding: 2em;
}


/* HEADER */
header {
  margin: 0 auto;
  text-align: center;
  width: 95%;
  max-width: 400px;
  color: var(--grey500);
}

h1, h2 {
  font-size: 1.4rem;
}

h1 {
  margin-bottom: 1em;
}

h2{
  font-weight: var(--fweightlight);
}

p {
  color: var(--grey400);
  line-height: 1.7em;
}

/*CARDS*/
main {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1.5em 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(154,160,185,0.2), 0 15px 40px rgba(166,173,201,.2);
  margin: 0 auto;
}  

.card img {
  width: 20%;
  margin-left: auto;
  margin-top: 2em;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.red {
  border-top: 5px solid var(--color-red);}
.orange {
  border-top: 5px solid var(--color-orange);}
.cyan {
  border-top: 5px solid var(--color-cyan);}
.blue {
  border-top: 5px solid var(--color-blue); 
}


 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }


@media all and (min-width: 800px) {

  header {
    max-width: 600px;
  }
  h1, h2 {
    font-size: 2rem;
  }

  h1 {
    margin-bottom: 0.5em;
  }
  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
  }
  .card {
    width: 300px;
    height: 200px;
  }
}
